@model SalesWebMVC.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<br />
<div class="text-center">
    <h2 class="display-4 text-danger">@ViewData["Title"]</h2>
</div>
<br /><hr /><br />

<div class="text-center">

    <p class="fs-3 text-danger">An error occurred while processing your request.</p>
    <br />
    <p>@Model.Message</p>

    <br /><br /><br />
    @if (Model.ShowRequestId)
    {
        <p>
            <strong class="fs-6">Request ID:</strong> <code class="fs-8">@Model.RequestId</code>
        </p>
    }
    <hr />
</div>